.body-height{
  position: fixed;
  overflow: auto;
}

@media screen and (max-width:600px){
  .heightClass{
      height: 103vh;
      top: 110px; 

  }
}

@media screen and (min-width:600px){
  .heightClass{
      height: 90vh;
      top: 80px;

  }
}