<div class="w-full ">
  <div  class="w-full fixed z-50">
    <app-navbar></app-navbar>
  </div>
  <div class="w-full  body-height heightClass ">
    <div class="w-full">
      <router-outlet></router-outlet>  

      <!-- <app-body-design></app-body-design> -->
    </div>
  </div>
</div>

<!-- 
  product page template
  rating  ||  Heart Icon for favourite
  image       hading
              price  Quantity
              dilevry ===> pick up in staor || Same Day delivery || Ship To home
              add to cart || Buy Now

 -->