// .body-height{
//   position: fixed;
//   overflow: auto;
// }

@media screen and (max-width:600px){
  .mainHeight{
      position: absolute;
      top: 110px; 

  }
}

@media screen and (min-width:600px){
  .mainHeight{
    position: absolute;
    top: 80px; 

  }
}
