<div class="grid grid-cols-4 productBodyHeight gap-4">
    <div class="col-span-4 mx-4 font-extrabold text-xl sm:text-2xl">
            {{cardData.title}}
    </div>
    <div class="col-span-4 mx-4 sm:col-span-2 imageClass" [style]="{'backgroundImage': 'url(' +  cardData.image  + ')'}" ></div>
    <div class="col-span-4 mx-4 sm:col-span-2 border-gray-200 border-2 p-4 rounded-lg">
        <div class="w-full font-extrabold text-xl sm:text-2xl">
            <mat-icon  style="width:14px !important" class=" text-lg" >currency_rupee</mat-icon>
             {{productPrice}}     
        </div>
        <div  class="grid grid-cols-3 my-4 gap-4">
            <div *ngFor="let option of deliveryOptions; let i = index" 
                    (click)="onDeliveryOptionClicked(i)"
                    [ngClass]="{
                        'border-gray-200  ': option.isClicked === false,
                        'border-green-200  ': option.isClicked === true
                    }" 
                    class="col-span-1 border-gray-200 border-4 p-4 rounded-lg cursor-pointer">
                <mat-icon aria-hidden="false"  class="menu-icon text-blue-600 text-2xl">
                    {{option.icon}}
                </mat-icon>
                <div class="w-full my-1 font-extrabold">
                    {{option.label}}
                </div>
                <p class="my-1" >Select This Option</p>

            </div>
        </div>
        <div class="grid grid-cols-3 my-4">
            <mat-form-field class="col-span-1">
                <mat-label>Quantity</mat-label>
                <input type="number"  matInput [(ngModel)]="quantityInputVal" value="1">
            </mat-form-field>
            <div class="col-span-2 px-2">
                <p-button (click)="addToCartHandler()"  styleClass="{{cartBtnClass}}">
                    <div class="w-full flex items-center justify-center text-xl text-center">
                        <mat-icon > {{cartBtnIcon}} </mat-icon>
                        <span class="ml-2" >{{cartBtnLabel}}</span>
                    </div>
                </p-button>
            </div>
            <div class="col-span-3">
                <p-button  styleClass="p-button-warning w-full">
                    <div class="w-full flex items-center justify-center text-xl text-center">
                        <span class="ml-2" >Buy Now</span>
                    </div>
                </p-button>
            </div>
        </div>
    </div>
    <div class="col-span-4 mx-4 ">
        <mat-tab-group>
            <mat-tab label="Features"> 
                {{cardData.description}}    
            </mat-tab>
            <mat-tab label="Reviews"> Content 2 </mat-tab>
        </mat-tab-group>
    </div>
    <div class="col-span-4">

        <app-body-footer></app-body-footer>
    </div>
</div>