/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'var.scss';
@import 'helper.scss';
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;

    input:focus {
        outline: none
    }
}

::-webkit-scrollbar {
    width: 1px;
    /* Set width of the scrollbar */
    background-color: transparent;
}